{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="flex min-h-screen bg-slate-50">
        {% include 'components/_admin_sidebar.html.twig' %}

        <main class="flex-1 p-8">

        </main>
    </div>
{% endblock %}
