<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventra | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    {{ importmap('app') }}
</head>

<body class="bg-slate-50 text-slate-800 antialiased">

<!-- NAVBAR -->
<header class="bg-white border-b">
    {% include 'components/_nav.html.twig' %}
</header>

<main>
    {% block body %}{% endblock %}
</main>

{% include 'components/_footer.html.twig' %}

</body>
</html>
